force-app/main/default/flows/Seamless_Auth_BE_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>well create these</description>
        <name>Ad_PSA_to_Collection</name>
        <label>Ad PSA to Collection</label>
        <locationX>748</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>rcvPermSets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordPermSetAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_thru_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>non-edge case email syntax</description>
        <name>Assign_All_Email</name>
        <label>Assign All Email</label>
        <locationX>792</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recordUser.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEmailSyntax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_thru_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fed_ID_to_Users_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>for elliot typo between slack and sf</description>
        <name>Assign_Emaill</name>
        <label>Assign Email</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recordUser.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fElliottTypoEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_thru_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fed_ID_to_Users_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>for your user if you want it</description>
        <name>Assign_Your_Email</name>
        <label>Assign Your Email</label>
        <locationX>528</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recordUser.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matching_Slack_User_Email_for_This_Salesforce_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_thru_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fed_ID_to_Users_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_permset_assignments</name>
        <label>Assignment for permset assignments</label>
        <locationX>748</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>recordPermSetAssignment.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_thru_users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPermSetAssignment.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Elevate_PermSet.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ad_PSA_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>to avoid no id issue</description>
        <name>Blank_Assign</name>
        <label>Blank Assign</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>rcvPermSets</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_internal_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fed_ID_to_Users_for_Update</name>
        <label>Fed ID to Users for Update</label>
        <locationX>660</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>rcvUsersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Permset_already_assigned</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>dupe check</description>
        <name>Already_has_perm_set</name>
        <label>Already has perm set?</label>
        <locationX>660</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Assignment_for_permset_assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Try to assign</defaultConnectorLabel>
        <rules>
            <name>Already_Assigned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_Permset_already_assigned.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_thru_users.Profile.UserLicense.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_thru_users</targetReference>
            </connector>
            <label>Dont try to assign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Edge_Cases</name>
        <label>Check Edge Cases</label>
        <locationX>660</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Fed_ID_to_Users_for_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Is_Elliot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_thru_users.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elliot Executive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Emaill</targetReference>
            </connector>
            <label>Is Elliot</label>
        </rules>
        <rules>
            <name>Your_Mapped_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_map_this_user</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fUser15Digit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Your_Email</targetReference>
            </connector>
            <label>Your Mapped User</label>
        </rules>
        <rules>
            <name>All_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fUser15Digit</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_Email</targetReference>
            </connector>
            <label>All Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Weed_Out_Non_Salesforce_License</name>
        <label>Weed Out Non-Salesforce License</label>
        <locationX>946</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>loop_thru_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_thru_users.Profile.UserLicense.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Edge_Cases</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <description>FedID and PermSet assignment to power back end of seamless auth</description>
    <environments>Default</environments>
    <formulas>
        <description>Fixes the typo between slack and sf where slack elliott has 2 t&apos;s and salesforce has 1</description>
        <name>fElliottTypoEmail</name>
        <dataType>String</dataType>
        <expression>&quot;demoeng+elliott_executive_&quot;&amp;{!Slack_Org_Number}&amp;&quot;@slack-corp.com&quot;</expression>
    </formulas>
    <formulas>
        <name>fEmailSyntax</name>
        <dataType>String</dataType>
        <expression>&quot;demoeng+&quot;&amp;lower({!loop_thru_users.FirstName})&amp;&quot;_&quot;&amp;lower({!loop_thru_users.LastName})&amp;&quot;_&quot;&amp;{!Slack_Org_Number}&amp;&quot;@slack-corp.com&quot;</expression>
    </formulas>
    <formulas>
        <name>fRunningUserSuggestion</name>
        <dataType>String</dataType>
        <expression>&quot;demoeng+jennifer_hynes_&quot;&amp;{!Slack_Org_Number}&amp;&quot;@slack-corp.com&quot;</expression>
    </formulas>
    <formulas>
        <name>fUser15Digit</name>
        <dataType>String</dataType>
        <expression>left({!loop_thru_users.Id},15)</expression>
    </formulas>
    <interviewLabel>Seamless Auth BE Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Seamless Auth BE Setup</label>
    <loops>
        <name>loop_thru_users</name>
        <label>loop thru users</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_all_internal_users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Weed_Out_Non_Salesforce_License</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_permset_assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create em all</description>
        <name>create_permset_assignment</name>
        <label>create permset assignment</label>
        <locationX>176</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>Update_RCV</targetReference>
        </connector>
        <inputReference>rcvPermSets</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_if_Permset_already_assigned</name>
        <label>Check if Permset already assigned or wrong license</label>
        <locationX>660</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_has_perm_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_thru_users.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Elevate_PermSet.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>find elevate perm set</description>
        <name>Elevate_PermSet</name>
        <label>Elevate PermSet</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seamless_Auth_Setup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SlackElevateUser</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_internal_users</name>
        <label>Get all internal users</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Elevate_PermSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RCV</name>
        <label>Update RCV</label>
        <locationX>176</locationX>
        <locationY>1982</locationY>
        <inputReference>rcvUsersToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Seamless_Auth_Setup</name>
        <label>Seamless Auth Setup</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_thru_users</targetReference>
        </connector>
        <fields>
            <name>displayinstruction2</name>
            <fieldText>&lt;p&gt;This flow will assign the Elevate permission set to internal users and set a FederatedID value on their user object to match their slack email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>intructionspage1</name>
            <fieldText>&lt;p&gt;Enter the slack org # for seamless auth mapping. (Ex. if your org is slack-demo-7000 then you would enter 7000)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Slack_Org_Number</name>
            <dataType>String</dataType>
            <fieldText>Slack Org #</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;It should be at least 4 digits. &lt;/p&gt;</errorMessage>
                <formulaExpression>len({!Slack_Org_Number})&gt;=4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Do_you_want_to_map_this_user</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to map _this_ user automatically?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;Selecting No will leave this user&apos;s federation ID unchanged in saleforce. Selecting YES will let you enter in an email for the matching slack user to pair yourself to, Jennifer Hynes for example.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Matching_Slack_User_Email_for_This_Salesforce_User</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fRunningUserSuggestion</elementReference>
            </defaultValue>
            <fieldText>Matching Slack User Email for This Salesforce User</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_map_this_user</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Blank_Assign</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>rcvPermSets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <description>Updates for the fed id</description>
        <name>rcvUsersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>variable to store single permsetassignment</description>
        <name>recordPermSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <description>stores the updated names</description>
        <name>recordUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
